<!DOCTYPE html>
<html>
<body>

<h1 color="blue">Hello World!</h1>

<p color="red">Welcome to my first Django project!</p>

<p>I encountered a lot of troubleshooting running this file but now, hopefully, it all works out alright !</p>

<p>I am excited to learn Django more as I really loved Python for its simplicity and efficiency.</p>

<p>Contact me at durand.joseph.durand@gmail.com if you have good website suggetsions to learn Django !</p>

<p>I am currently learning on W3 School.</p>

<p>Have an amazing day</p>

</body>
</html>